body {
    background-color: black;
}

header {
    background-color: indigo;
    margin-left: 40px;
    margin-right: 40px;
}

section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
}

div {
    margin-top: 40px;
    padding-bottom: 10px;
}

div.divine_armors {
    background-color:rgb(24, 54, 24);
}

div.divine_armors > a:link {
    color: royalblue;
}

div.divine_armors > a:visited {
    color: royalblue;
}

div.divine_armors > a:hover {
    color: royalblue;
}

div.yggdrasil_essence {
    background-color: rgb(114, 88, 22)
}


div.yggdrasil_essence > a:link {
    color: royalblue;
}

div.yggdrasil_essence > a:visited {
    color: royalblue;
}

div.yggdrasil_essence > a:hover {
    color: royalblue;
}

#bio {
    margin-left: 500px;
}

footer {
    margin-left: 200px;
    color: white;
}

footer > a:link {
    color:black;
}

footer > a:visited {
    color:black;
}

footer > a:hover {
    color:black;
}