body {
    background-color: black;
}

header {
    background-color: indigo;
    margin-left: 40px;
    margin-right: 40px;
}

section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right:100px;
}

div {
    margin-top: 40px;
    padding-bottom: 10px;
}

.divine_armors {
    background-color: teal;
    color: white;
}